{# views/html/books.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% block body %}
    <article>
        <h1>Index of the Books</h1>

        <section>
            {{ common.welcomeMessage() }}
            <p>
                You are here on the index of the books. You might want to visit
                the <a href="dances.html">index of the dances</a>.
            </p>
        </section>

        <section>
            <table class="datatable responsive wrap">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>

                    {% for slug, book in books.items() %}
                        {{ common.bookRow(slug, book, false) }}
                    {% endfor %}

                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
