{# views/html/dances.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% block body %}
    <article>
        <section>
            {{ common.welcomeMessage() }}
        </section>

        <section>
            <table class="datatable responsive wrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kind</th>
                        <th>Deviser</th>
                    </tr>
                </thead>
                <tbody>

                    {% for slug, dance in dances.items() -%}
                        {{ common.danceRow(slug, dance, false) }}
                    {%- endfor %}

                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
