{# views/html/dance.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% macro renderInstructionItem(dance, item) %}
    {# empty line on purpose: #}

    {% if item.type == "note" %}
        <div class="note">Note: {{ item.content }}</div>

    {% elif item.type == "kind" %}
        <div class="kind">{{ item.kind }}</div>

    {% elif item.type == "two chords" %}
        <div class="two-chords">
            Two chords.
            {% if item['couples-cross'] is defined %}
                On second chord, {{ item['couples-cross'] }} couples cross.
            {% endif %}
            {% if item.custom is defined %}
                {{ item.custom }}
            {% endif %}
        </div>

    {% elif item.type == "phrase" %}
        <div class="phrase">
            <div class="bars">{{ item.starts }}&ndash;{{ item.ends }}</div>
            <div class="contents">
                {{ item.content }}
                {% if item.instructions is defined %}
                    {# empty line on purpose: #}

                    {{ renderInstructionItemsIn(dance, instructions) }}
                {% endif %}
            </div>
        </div>

    {% elif item.type == "repeat" %}
        <div class="repeat">
            {% if item.kind == "from new positions" %}
                Repeat from new positions.
            {% elif item.kind == "having passed a couple" %}
                Repeat, having passed a couple.
            {% else %}{# FIXME: check that item.kind == "custom" #}
                {{ kind.text }}
            {% endif %}
        </div>

    {% elif item.type == "devised by" %}
        <div class="devised-by">
            Devised by <span class="deviser">{{ dance.author }}</span>
            {%- if dance.date is defined %}{# space on purpose: #}
                {{ common.fancyDate(dance) }}
            {%- endif -%}
            .
            {% if dance['editor-details'] is defined %}
                {{  dance['editor-details'] }}
            {% endif %}
            {% if dance['deviser-details'] is defined %}
                <blockquote>
                    {{ dance['deviser-details'] }}
                </blockquote>
            {% endif %}
        </div>

    {% elif item.type == "music by" %}
        <div class="music-by">
            Music by <span class="composer">{{ item.composer }}</span>
            {%- if item.tune is defined -%}
                : <span class="tune">{{ item.tune }}</span>
            {%- endif -%}
            .
            {% if item.more is defined %}
                {{ item.more }}
            {% endif %}
        </div>

    {% elif item.type == "recommended tune" %}
        <div class="music-by">
            Recommended tune: <span class="tune">{{ item.tune }}</span>
            {%- if item.composer is defined -%}
                , by <span class="composer">{{ item.composer }}</span>
            {%- endif -%}
            .
            {% if item.more is defined %}
                {{ item.more }}
            {% endif %}
        </div>

    {% else %}
        {{ error("Unexpected item type: " ~ item.type) }}
    {% endif %}
    {# empty line on purpose: #}

{% endmacro %}

{% macro renderInstructionItemsIn(dance, items) %}
    {% for item in items %}
        {{ renderInstructionItem(dance, item) }}
    {% endfor %}
{% endmacro %}

{% block body %}
    <article>
        <h1>{{ dance.name }}</h1>
        <h2>{{ dance.kind }}</h2>

        <section>
            {% if dance.instructions is defined %}
                <p><a href="{{ slug }}.pdf">Get the description of the dance as PDF</a>.</p>
            {% endif %}

            {% if dance['scddb-id'] is defined %}
                <p><a href="https://my.strathspey.org/dd/dance/{{ dance['scddb-id'] }}/">
                    See this dance in the Scottish Country Dance Database</a>.</p>
            {% endif %}
        </section>

        {% if dance.instructions is defined %}
            <section class="dance-instructions">
                {{ renderInstructionItemsIn(dance, dance.instructions) }}
            </section>
        {% endif %}

    </article>
{% endblock %}
