{# views/html/index.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% block morehead %}
    <meta http-equiv="refresh" content="5; url='./dances.html'" />
{% endblock %}

{% block body %}
    <article>
        <section>
            {{ common.welcomeMessage() }}
            <p>
                You are shortly going to be redirect to the
                <a href="dances.html">index of dances</a>.
                If not, please follow <a href="dances.html">this link</a>.
            </p>
        </section>
    </article>
{% endblock %}
