{# views/html/tune.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% macro printDanceRef(danceRef) %}
    {%- if danceRef.type == "internal" -%}

        <a href="../dance/{{ danceRef.slug }}.html">{#- -#}
            <span class="dance">{{ dances[danceRef.slug].name }}</span>{#- -#}
        </a>,
        by <span class="deviser">{{ common.shortAuthorOrAuthor(dances[danceRef.slug]) }}</span>

    {%- elif danceRef.type == "external" -%}

        <span class="dance">{{ danceRef.name }}</span>
        {%- if danceRef.deviser is defined -%}
            , by <span class="deviser">{{ danceRef.deviser }}</span>
        {%- endif -%}
        {%- if danceRef['scddb-id'] is defined %} {# space -#}
            [<a href="https://my.strathspey.org/dd/dance/{{ danceRef['scddb-id'] }}/">SCDDB</a>]
        {%- endif -%}

    {%- else -%}
        {{ common.error("Unexpected dance reference type: `" ~ danceRef.type ~ "`") }}
    {%- endif -%}
{% endmacro %}

{% block body %}
<article>
    <h1>{{ tune.name }}</h1>
    <h2>{{ tune.kind }}</h2>

    <section>
        <p><a href="{{ slug }}.pdf">Get the score of the tune as PDF</a>.</p>

        {% if tune['scddb-id'] is defined %}
            <p><a href="https://my.strathspey.org/dd/tune/{{ tune['scddb-id'] }}/">
                See this tune in the Scottish Country Dance Database</a>.</p>
        {% endif %}
    </section>

    <section class="tune-preview">
        <object type="image/svg+xml" data="{{ slug }}.svg"></object>
    </section>

    <section class="tune-description">
        <p>{#- -#}
            Composed by {{ tune.author }} {# space #}
            {%- if tune.date is defined -%}
                {{ common.fancyDate(tune) }}
            {%- endif -%}. {# space #}
            {%- if tune['editor-details'] is defined -%}
                {{ tune['editor-details'] }}
            {%- endif -%}
        </p>
        {% if tune['composer-details'] is defined %}
            <blockquote>
                {{ tune['composer-details'] }}
            </blockquote>
        {% endif %}

        {% if tune.dances is defined %}
            {% if tune.dances|length == 1 %}
                <p>Recommended for: {{ printDanceRef(tune.dances[0]) }}.</p>
            {% else %}
                <p>Recommended for:</p><ul>
                    {% for danceRef in tune.dances %}
                    <li>{{ printDanceRef(danceRef) }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

    </section>
</article>
{% endblock %}
