{# views/html/tunes.html.j2 #}
{% extends "views/html/base.html.j2" %}

{% block body %}
    <article>
        <h1>Index of the Tunes</h1>

        <section>
            {{ common.welcomeMessage() }}
            <p>
                You are here on the index of the tunes. You might want to visit
                the <a href="dances.html">index of the dances</a>.
            </p>
        </section>

        <section>
            <table class="datatable responsive wrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kind</th>
                        <th>Composer</th>
                    </tr>
                </thead>
                <tbody>

                    {% for slug, tune in tunes.items() -%}
                        {{ common.tuneRow(slug, tune, false) }}
                    {%- endfor %}

                </tbody>
            </table>
        </section>
    </article>
{% endblock %}
