body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

header, footer {
    background: lightgray;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article, section {
    margin: auto;
    width: 1000px;
}

header { margin-bottom: 2rem; }
article { margin-top: 3rem; }
section { margin-top: 2rem; }
footer { margin-top: 2rem; }

h1 { font-size: 2rem; }
h2 { font-size: 1.4rem; }
h1,h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

a, a:visited { color: black; }
